<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<body>
  <h1 class="text-center">Angular Project</h1>
<br> <br>
<h4 class="text-center">My Courses</h4>
<div style="display:flex;justify-content: center;" class="container">
 
    <card-comp *ngFor="let c of courseList" style="float:left;margin:10px;" img="{{c.img}}" title="{{c.title}}" >{{c.summary}}</card-comp>
</div>
<br>
<h4 class="text-center">Detailed List</h4>
<br>
<div class="container">
  <table class="table table-dark">
    <thead>
      <tr class="table-dark">
        <th class="table-dark">Id</th>
        <th class="table-dark">Title</th>
        <th class="table-dark">Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-dark" *ngFor="let c of courseList">
        <td class="table-dark">{{c.id}}</td>
        <td class="table-dark">{{c.title}}</td>
        <td class="table-dark">{{c.summary}}</td>
      </tr>
    </tbody>
  </table>
</div>


</body>

